.root {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

#bar {
    -fx-background-color: red;
    -fx-background-radius: 15 15 5 5;
    -fx-border-radius: 15 15 5 5;
}

#titleLabel {
    -fx-text-fill: white;
    -fx-text-alignment: center;
}