#addButton, #deleteButton, #editButton, #translateButton, #pronounceButton,
 #informationButton, #dailyWordButton, #settingButton, #hangmanButton, #quizButton, #flashCardButton, #homeButton {
    -fx-text-alignment: center;
        -fx-text-fill: black;
        -fx-font-size: 18px;
        -fx-font-weight: bold;
        -fx-font-family: "JetBrains Mono";
        -fx-padding: 0px 0px 0px 0px;
}
#addButton:hover,
#deleteButton:hover,
#editButton:hover,
#translateButton:hover,
#pronounceButton:hover,
#informationButton:hover,
#dailyWordButton:hover,
#settingButton:hover,
#hangmanButton:hover,
#quizButton:hover,
#flashCardButton:hover,
#homeButton:hover {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #0077ff;
    -fx-text-fill: white;
}

#searchList .cell:selected {
    -fx-background-color: #0077ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#testButton {
   -fx-border-color: #0077ff;
   -fx-font-family: "Arial";
   -fx-border-radius: 0 20  20;
   -fx-background-radius: 0 20 0 20;
   -fx-font-size: 17px;
   -fx-text-fill: #0077ff;
   -fx-padding: 10 20; /* Adjust padding as needed */
}

#testButton:hover {
    -fx-text-fill: white;
    -fx-background-color: #0077ff; /* Change the background color on hover */
}

#testButton:pressed {
    -fx-background-color: #0077ff; /* Change the background color when pressed */
    -fx-translate-x: 2px; /* Adjust the translation on the x-axis as needed */
    -fx-translate-y: 2px; /* Adjust the translation on the y-axis as needed */
}