.edit-flashcard-controller-border {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.flashcard-number-input-field {
  -fx-alignment: center;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}

.label {
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-area {
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}