#addButton, #deleteButton, #editButton, #translateButton, #pronounceButton,
 #informationButton, #dailyWordButton, #settingButton, #hangmanButton,
 #quizButton, #flashCardButton, #homeButton {
    -fx-text-alignment: center;
        -fx-text-fill: black;
        -fx-font-size: 18px;
        -fx-font-weight: bold;
        -fx-font-family: "JetBrains Mono";
        -fx-padding: 0px 0px 0px 0px;
}

#addButton: hover,
 #deleteButton: hover,
 #editButton: hover,
 #translateButton: hover,
 #pronounceButton: hover,
 #informationButton: hover,
 #dailyWordButton: hover,
 #settingButton: hover,
 #hangmanButton: hover,
 #quizButton: hover,
 #flashCardButton: hover,
 #homeButton: hover {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #B60000;
    -fx-text-fill: white;
}

#searchList .cell: selected {
    -fx-background-color: #B60000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
